/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #008000;
    --light-green: #90EE90;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

/* =============== Navigation ================ */
.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--green);
    border-left: 10px solid var(--green);
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active {
    width: 80px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
    background-color: var(--white);
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--blue);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
}
.navigation ul li a .icon ion-icon {
    font-size: 1.75rem;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

/* ===================== Main ===================== */
.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}
.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
}

.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}

.search label ion-icon {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2rem;
}

.user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ======================= Cards ====================== */
.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.cardBox .card {
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--blue);
}

.cardBox .card .cardName {
    color: var(--black2);
    font-size: 1.1rem;
    margin-top: 5px;
}

.cardBox .card .iconBx {
    font-size: 3.5rem;
    color: var(--black2);
}

.cardBox .card:hover {
    background: var(--blue);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
    color: var(--black);
}

/* ================== Order Details List ============== */
.details {
    position: relative;
    width: 100%;
    padding: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    /* margin-top: 10px; */
}

.detailsOrders{
    position: relative;
    width: 150%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}

.details .recentOrders {
    position: relative; /* Thiết lập vị trí tương đối để có thể sử dụng các thuộc tính top, right, bottom, left dựa trên vị trí ban đầu của phần tử. */
/*    display: grid;  Sử dụng Grid Layout, cho phép sắp xếp các phần tử con bên trong theo dạng lưới. */
    min-height: 500px; /* Đặt chiều cao tối thiểu của phần tử là 500px, giúp đảm bảo phần tử có kích thước cố định đủ lớn. */
    background: var(--white); /* Thiết lập màu nền của phần tử, ở đây là giá trị của biến CSS `--white`. */
    /*    display: grid;  Sử dụng Grid Layout, cho phép sắp xếp các phần tử con bên trong theo dạng lưới. */
    min-height: 500px; /* Đặt chiều cao tối thiểu của phần tử là 500px, giúp đảm bảo phần tử có kích thước cố định đủ lớn. */
    background: var(--black); /* Thiết lập màu nền của phần tử, ở đây là giá trị của biến CSS `--white`. */
    padding: 30px; /* Đặt khoảng cách bên trong phần tử là 30px từ tất cả các cạnh (trên, dưới, trái, phải). */
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08); /* Thêm hiệu ứng bóng đổ cho phần tử, với độ mờ và vị trí đổ bóng được xác định bởi các giá trị. */
    border-radius: 20px; /* Bo tròn các góc của phần tử với bán kính 20px, làm cho các góc không còn sắc nhọn. */
}

.details .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
}
.cardHeader .btn {
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);;
    border-radius: 6px;
}

.details table {
    width: 100%;
    border-collapse: collapse;
    position: relative; /* Đặt vị trí tương đối để sử dụng top */
    top: 20px; /* Di chuyển lên trên 20px */
}
.details table thead td {
    font-weight: 600;
}
.details .recentOrders table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentOrders table tr:last-child {
    border-bottom: none;
}
.details .recentOrders table tbody tr:hover {
    background: var(--blue);
    color: var(--green);
}
.details .recentOrders table tr td {
    padding: 10px;
    text-align: center;
}

.recentCustomers {
    position: relative;
/*    display: grid;*/
    background: var(--light-green);
    color: var(--black1);
}
.details .recentOrders table tr td {
    padding: 10px;
    text-align: center;
}

.status-inProgress {
    color: blue; /* Màu cho trạng thái Đang giao */
}

.status-delivered {
    color: green; /* Màu cho trạng thái Đã giao */
}

.status-return {
    color: red; /* Màu cho trạng thái Không giao được */
}

.status-pending {
    color: gray; /* Màu cho trạng thái Đang chờ */
}


.recentCustomers {
    position: relative;
    /*    display: grid;*/
    min-height: 500px;
    padding: 20px;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}
.recentCustomers .imgBx {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    overflow: hidden;
}
.recentCustomers .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.recentCustomers table tr td {
    padding: 12px 10px;
}
.recentCustomers table tr td h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2rem;
}
.recentCustomers table tr td h4 span {
    font-size: 14px;
    color: var(--black2);
}
.recentCustomers table tr:hover {
    background: var(--blue);
    color: var(--green);
}
.recentCustomers table tr:hover td h4 span {
    color: var(--green);
    background: var(--red);
    color: var(--red);
}
.recentCustomers table tr:hover td h4 span {
    color: var(--red);
}

/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
    .navigation {
        left: -300px;
    }
    .navigation.active {
        width: 300px;
        left: 0;
    }
    .main {
        width: 100%;
        left: 0;
    }
    .main.active {
        left: 300px;
    }
    .cardBox {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .details {
        grid-template-columns: 1fr;
    }
    .recentOrders {
        overflow-x: auto;
    }
    .status.inProgress {
        white-space: nowrap;
    }
}

@media (max-width: 480px) {
    .cardBox {
        grid-template-columns: repeat(1, 1fr);
    }
    .cardHeader h2 {
        font-size: 20px;
    }
    .user {
        min-width: 40px;
    }
    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active {
        width: 100%;
        left: 0;
    }
    .toggle {
        z-index: 10001;
    }
    .main.active .toggle {
        color: #fff;
        position: fixed;
        right: 0;
        left: initial;
    }
}
.avatar-container {
    position: relative;
    display: inline-block;
    margin-left: 40px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.dropdown-content {
    display: none; /* Ẩn phần tử theo mặc định */
    position: absolute; /* Định vị tuyệt đối */
    right: 0px; /* Đặt phần tử ở bên phải */
    background-color: #f9f9f9; /* Màu nền của phần tử */
    min-width: 150px; /* Chiều rộng tối thiểu tăng lên */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Đổ bóng */
    z-index: 1; /* Đảm bảo phần tử này nằm trên các phần tử khác */
    border-radius: 8px; /* Bo tròn các góc */
    border: 1px solid #ccc; /* Đường viền màu xám nhạt */
    padding: 10px; /* Tăng khoảng cách bên trong của dropdown */
}

.dropdown-content a {
    color: black; /* Màu chữ đen cho các liên kết */
    padding: 16px 20px; /* Tăng khoảng cách bên trong của liên kết */
    text-decoration: none; /* Loại bỏ gạch chân của liên kết */
    display: block; /* Hiển thị liên kết như một khối */
    font-size: 16px; /* Tăng kích thước chữ */
}

.dropdown-content a:hover {
    background-color: #999999/* Thay đổi màu nền khi di chuột qua */
}
.logo {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
    margin-left: 20px;
    margin-bottom: 20px;
}

.logo i {
    color: var(--green);
}

/* Thiết lập font chữ và màu sắc chung cho thông báo*/
body {
    font-family: Arial, sans-serif;
    color: #333;
}

/* Định dạng cho các tiêu đề h1 */
h1 {
    font-size: 36px;
    color: #555;
    margin-bottom: 20px;
}

/* Định dạng cho phần tử đường viền */
hr {
    border: 1px solid #ddd;
    margin: 20px 0;
}

/* Định dạng cho phần tử dạng button */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
}

table th {
    background-color: #f2f2f2;
}

/* Định dạng cho phần tử modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* Thay đổi khoảng cách từ trên xuống */
    padding: 40px; /* Thay đổi lề nội dung bên trong */
    border-radius: 10px;
    width: 800px; /* Thay đổi chiều rộng */
    height: 500px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

/* Định dạng cho phần tử close trong modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Đổ bóng cho văn bản */
    margin: 5px;
    width: 120px; /*Đặt chiều rộng cố định*/
}

.button.all {
    background-color: light-green;
    color: white; /* Màu chữ trắng */
}

.button:hover {
    opacity: 1.5; /* Hiệu ứng mờ dần khi di chuột qua */
}