@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

:root {
    --poppins: 'Poppins', sans-serif;
    --lato: 'Lato', sans-serif;

    --light: #F9F9F9;
    --blue: #3C91E6;
    --light-blue: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #342E37;
    --red: #DB504A;
    --yellow: #FFCE26;
    --light-yellow: #FFF2C6;
    --orange: #FD7238;
    --light-orange: #FFE0D3;
    --green: #008000;
    --light-green: #90EE90;
}

html {
    overflow-x: hidden;
}

body.dark {
    --light: #0C0C1E;
    --grey: #060714;
    --dark: #FBFBFB;
}

body {
    background: var(--grey);
    overflow-x: hidden;
}

/* SIDEBAR */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: var(--light);
    z-index: 2000;
    font-family: var(--lato);
    transition: .3s ease;
    overflow-x: hidden;
    scrollbar-width: none;
}
/*#sidebar.hide {
    transform: translateX(-100%);  Di chuyển sidebar ra ngoài màn hình 
    
}*/

#sidebar.webkit-scrollbar {
    display: none;
    transition: none; /* Không có hiệu ứng khi ẩn */
}
#sidebar.hide {
    width: 60px;
}
#sidebar .brand {
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--blue);
    position: sticky;
    top: 0;
    left: 0;
    background: var(--light);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}
#sidebar .brand .bx {
    min-width: 60px;
    display: flex;
    justify-content: center;
}
#sidebar .side-menu {
    width: 100%;
    margin-top: 48px;
}
#sidebar .side-menu li {
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}
#sidebar .side-menu li.active {
    background: var(--grey);
    position: relative;
    transition: background 0.3s ease;
}
#sidebar .side-menu li.active::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}
#sidebar .side-menu li.active::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}
#sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
    color: var(--blue);
}
#sidebar.hide .side-menu li a {
    width: calc(48px - (4px * 2));
    transition: width .3s ease;
}
#sidebar .side-menu li a.logout {
    color: var(--red);
}
#sidebar .side-menu.top li a:hover {
    color: var(--blue);
}
#sidebar .side-menu li a .bx {
    min-width: calc(60px  - ((4px + 6px) * 2));
    display: flex;
    justify-content: center;
}
/* SIDEBAR */


/* CONTENT */
#content {
    position: relative;
    width: calc(100% - 280px);
    left: 280px;
    transition: .3s ease;
}
#sidebar.hide ~ #content {
    width: calc(100% - 60px);
    left: 60px;
}
/* NAVBAR */
#content nav {
    height: 56px;
    background: var(--light);
    padding: 0 24px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    font-family: var(--lato);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}
#content nav::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
    color: var(--dark);
}
#content nav .bx.bx-menu {
    cursor: pointer;
    color: var(--dark);
}
#content nav .nav-link {
    font-size: 16px;
    transition: .3s ease;
}
#content nav .nav-link:hover {
    color: var(--blue);
}
#content nav form {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}
#content nav form .form-input {
    display: flex;
    align-items: center;
    height: 36px;
}
#content nav form .form-input input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}
#content nav form .form-input button {
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

.notification i {
    cursor: pointer;
}

#content nav .notification {
    font-size: 20px;
    position: relative;
}
#content nav .notification .num {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid var(--light);
    background: var(--red);
    color: var(--light);
    font-weight: 700;
    font-size: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
#content nav .profile img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

/* NAVBAR */





/* MAIN */
#content main {
    width: 100%;
    padding: 36px 24px;
    font-family: var(--poppins);
    max-height: calc(100vh - 56px);
    overflow-y: auto;
}
#content main .head-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}
#content main .head-title .left h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}
#content main .head-title .left .breadcrumb {
    display: flex;
    align-items: center;
    grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li {
    color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
    color: var(--dark-grey);
    pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
    color: var(--blue);
    pointer-events: unset;
}
#content main .head-title .btn-download {
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--blue);
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    font-weight: 500;
}




#content main .box-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}
#content main .box-info li {
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
}
#content main .box-info li .bx {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content main .box-info li:nth-child(1) .bx {
    background: var(--light-blue);
    color: var(--blue);
}
#content main .box-info li:nth-child(2) .bx {
    background: var(--light-yellow);
    color: var(--yellow);
}
#content main .box-info li:nth-child(3) .bx {
    background: var(--light-orange);
    color: var(--orange);
}
#content main .box-info li:nth-child(4) .bx {
    background: var(--light-green);
    color: var(--green);
}
#content main .box-info li .text h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}
#content main .box-info li .text p {
    color: var(--dark);
}

/* CSS của <table> */
#content main .table-data {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}
#content main .table-data > div {
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; /* Thêm transition cho background-color */
}

#content main .table-data .head {
    display: flex; /* Sử dụng flexbox để xếp các phần tử ngang hàng */
    align-items: center; /* Căn các phần tử theo chiều dọc vào giữa */
    gap: 16px; /* Khoảng cách giữa các phần tử */
    margin-bottom: 24px; /* Khoảng cách phía dưới */
}

#content main .table-data .head h3 {
    margin-right: auto; /* Đẩy h3 về phía bên phải */
    font-size: 24px;
    font-weight: 600;
}

#content main .table-data .head .bx {
    cursor: pointer;
}

#content main .table-data .order {
    flex-grow: 1;
    min-height: 600px; /* Tăng chiều cao tối thiểu của bảng */
    /*    flex-basis: 500px;*/
}

#content main .table-data .order table {
    width: 100%;
    border-collapse: collapse;
}

#content main .table-data .order table th {
    padding: 15px 10px; /* Thêm padding để tiêu đề nổi bật hơn */
    font-size: 16px;
    border-bottom: 2px solid var(--dark-grey); /* Tăng độ đậm của đường kẻ dưới */
    color: var(--white); /* Thay đổi màu chữ để dễ nhìn hơn */
    background-color: var(--grey); /* Thay đổi màu nền cho tiêu đề */
    text-align: center; /* Căn giữa theo chiều ngang */
    vertical-align: middle; /* Căn giữa theo chiều dọc */
    font-weight: bold; /* Làm chữ đậm để nhấn mạnh tiêu đề */
    text-transform: uppercase; /* Viết hoa toàn bộ để tạo sự nổi bật */
}

#content main .table-data .order table td {
    padding: 16px 0;
}

#content main .table-data .order table tr td:first-child {
    /*        display: flex;*/
    align-items: center;
    grid-gap: 12px;
    padding-left: 8px;
}
#content main .table-data .order table td img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}
#content main .table-data .order table tbody tr:hover {
    background: var(--grey);
    transform: scale(1.02);
}
#content main .table-data .order table tr td .status {
    font-size: 12px;
    padding: 8px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
}
#content main .table-data .order table tr td .status.completed {
    background: var(--blue);
}
#content main .table-data .order table tr td .status.pending {
    background: var(--red);
}
#content main .table-data .order table tr td .status.process {
    background: var(--yellow);
}
#content main .table-data .order table tr td .status.take {
    background: var(--green);
}
#content main .table-data .order table tr td .status.waiting {
    background: var(--dark);
}
.highlight-box {
    font-size: 15px;
    color: #333;
    margin: 10px 0;
    line-height: 1.3;
    padding: 15px;
    background-color: #fff3cd;
    border-left: 6px solid #d9534f;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.highlight-label {
    color: #d9534f; /* Màu chữ đỏ cho nhãn */
}
.highlight-value {
    color: #000; /* Màu chữ đen cho giá trị */
}

#content main .table-data .todo {
    flex-grow: 1;
    flex-basis: 300px;
}
#content main .table-data .todo .todo-list {
    width: 100%;
}
#content main .table-data .todo .todo-list li {
    width: 100%;
    margin-bottom: 16px;
    background: var(--grey);
    border-radius: 10px;
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#content main .table-data .todo .todo-list li .bx {
    cursor: pointer;
}
#content main .table-data .todo .todo-list li.completed {
    border-left: 10px solid var(--blue);
}
#content main .table-data .todo .todo-list li.not-completed {
    border-left: 10px solid var(--orange);
}
#content main .table-data .todo .todo-list li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
#content main .table-data .todo .todo-list li:last-child {
    margin-bottom: 0;
}
/* MAIN */

/* CONTENT */




@media screen and (max-width: 768px) {
    #sidebar {
        width: 200px;
    }

    #content {
        width: calc(100% - 60px);
        left: 200px;
    }

    #content nav .nav-link {
        display: none;
    }
}


@media screen and (max-width: 576px) {
    #content nav form .form-input input {
        display: none;
    }

    #content nav form .form-input button {
        width: auto;
        height: auto;
        background: transparent;
        border-radius: none;
        color: var(--dark);
    }

    #content nav form.show .form-input input {
        display: block;
        width: 100%;
    }
    #content nav form.show .form-input button {
        width: 36px;
        height: 100%;
        border-radius: 0 36px 36px 0;
        color: var(--light);
        background: var(--red);
    }

    #content nav form.show ~ .notification,
    #content nav form.show ~ .profile {
        display: none;
    }

    #content main .box-info {
        display: flex;
        justify-content: space-around;
        gap: 24px;
        margin-top: 24px;
        padding: 0;
        list-style-type: none;
    }

    #content main .box-info li {
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        width: 200px;
        text-align: center;
    }

    #content main .box-info li:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    #content main .box-info li i {
        font-size: 36px;
        color: #007bff;
        margin-bottom: 10px;
        display: block;
    }

    #content main .box-info li h3 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 8px;
    }

    #content main .box-info li p {
        font-size: 14px;
        color: #666666;
        margin: 0;
    }

    #content main .table-data .head {
        min-width: 420px;
    }
    #content main .table-data .order table {
        min-width: 420px;
    }
    #content main .table-data .todo .todo-list {
        min-width: 420px;
    }
}

#content nav .switch-mode {
    display: block;
    min-width: 50px;
    height: 25px;
    border-radius: 25px;
    background: var(--grey);
    cursor: pointer;
    position: relative;
}
#content nav .switch-mode::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--blue);
    border-radius: 50%;
    transition: all .3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
    left: calc(100% - (25px - 4px) - 2px);
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.dropdown-content-1 {
    display: none;
    position: absolute;
    right: 0px;
    top: 50px;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    padding: 8px 0; /* Thêm padding cho phần nội dung */
    border-radius: 8px; /* Định dạng góc bo tròn */
    border: 1px solid #ccc; /* Thêm border để phân biệt với nền */
}

.dropdown-content-1 a {
    color: black;
    padding: 8px 10px; /* Điều chỉnh padding để làm rõ ràng hơn */
    text-decoration: none;
    display: block;
    transition: background-color 0.3s; /* Thêm hiệu ứng chuyển đổi */
}

.dropdown-content-1 a:hover {
    background-color: #e0e0e0; /* Màu nền khi hover */
}

.dropdown-content-1 span {
    color: black;
    padding: 10px 20px; /* Điều chỉnh padding để làm rõ ràng hơn */
    text-decoration: none;
    display: block;
    transition: background-color 0.3s; /* Thêm hiệu ứng chuyển đổi */
}

.dropdown-content-1 span:hover {
    background-color: #e0e0e0; /* Màu nền khi hover */
}

.dropdown-content {
    display: none;
    position: absolute;
    right: -64px;
    top: 40px;
    background-color: #fff;
    width: 460px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.notification-header {
    background-color: #4267B2;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: center; /* Center align all items horizontally */
    align-items: center; /* Center align all items vertically */
    z-index: 1;
    position: relative;
}

.notification-header h4 {
    margin: 0;
    font-size: 25px;
    flex: 1; /* Allow h4 to take up available space */
    text-align: left; /* Center the text within the h4 */
}

#markAllAsRead {
    background-color: #fff; /* Optional: Set a different background for the button */
    color: #4267B2; /* Optional: Set the button text color to match the header */
    border: none; /* Remove default border */
    padding: 5px 10px; /* Adjust padding as needed */
    border-radius: 4px; /* Add some border-radius for rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    position: absolute; /* Position the button absolutely */
    right: 10px; /* Align to the right of the header */
}

#markAllAsRead:hover {
    background-color: #ddd; /* Optional: Change background color on hover */
}


.notification-body {
    max-height: 300px;
    overflow-y: auto;
    position: relative; /* Để cho .notification-footer có thể bám vào */
}

.notification-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
    background-color: #fff; /* Màu nền cho thông báo chưa đọc */
    transition: background-color 0.3s;
}

.notification-item:last-child {
    border-bottom: none;
}

.notification-item.read {
    background-color: #f0f0f0; /* Màu nền cho thông báo đã đọc */
    color: #888; /* Màu chữ cho thông báo đã đọc */
}

.no-notifications {
    padding: 20px;
    text-align: center;
    color: #999;
    font-size: 15px;
}

.notification-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.notification-content {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    position: relative;
}

.notification-time {
    color: #888;
    font-size: 12px;
}

.notification-footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
/*    position: absolute;  Đặt footer ở vị trí tuyệt đối */
    position: sticky;
    bottom: 0; /* Căn chỉnh ở dưới cùng */
    left: 0; /* Căn chỉnh bên trái */
    width: 100%; /* Đặt chiều rộng của footer là 100% */
    z-index: 1000; /* Đảm bảo nó hiển thị trên các phần tử khác */
}

.notification-footer a {
    color: #4267B2;
    text-decoration: none;
    font-weight: bold;
}

.notification-footer a:hover {
    text-decoration: underline;
}

.dropdown-container {
    position: relative;
    display: inline-block;
}

.show{
    display: block;
}

.swal2-popup {
    border-radius: 20px;
}

#notice {
    display: none; /* Mặc định ẩn đi */
}

/* Định dạng cho modal */
/* Định dạng cho phần tử modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* Thay đổi khoảng cách từ trên xuống */
    padding: 30px; /* Thay đổi lề nội dung bên trong */
    border-radius: 15px;
    width: 750px; /* Thay đổi chiều rộng */
    height: 500px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

/* Định dạng cho phần tử close trong modal */
.close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.empty-message {
    text-align: center;
    opacity: 0.5; /* Độ mờ của chữ */
    font-size: 1.5em; /* Tăng kích thước chữ một chút */
    padding: 20px; /* Tăng khoảng cách giữa chữ và viền ô */
    margin-top: 100px;
}

.reason-modal-content {
    background-color: #fefefe;
    margin: 20% auto; /* Thay đổi khoảng cách từ trên xuống */
    padding: 20px; /* Thay đổi lề nội dung bên trong */
    border-radius: 15px;
    width: 500px;
    height: 220px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

button {
    background-color: #007bff; /* Màu nền xanh dương */
    border: none; /* Không có viền */
    color: white; /* Màu chữ */
    padding: 10px 20px; /* Padding trên/dưới và trái/phải */
    text-align: center; /* Căn giữa chữ */
    text-decoration: none; /* Không có gạch chân */
    display: inline-block; /* Hiển thị như khối nội tuyến */
    font-size: 13px; /* Kích thước chữ */
    margin: 8px 4px; /* Khoảng cách giữa các nút */
    cursor: pointer; /* Con trỏ chuột khi di chuột vào */
    border-radius: 8px; /* Bo tròn các góc */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Hiệu ứng chuyển động */
}

button:hover {
    background-color: #0056b3; /* Màu nền khi di chuột vào */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hiệu ứng đổ bóng khi di chuột vào */
}

button:active {
    background-color: #3e8e41; /* Màu nền khi nhấn vào */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Hiệu ứng đổ bóng khi nhấn */
    transform: translateY(2px); /* Hiệu ứng nhấn xuống */
}


.pagination {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.pagination a {
    margin: 0 5px;
    padding: 8px 16px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: black;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.custom-icon {
    color: #FFA500; /* Màu cam */
    pointer-events: none; /* Không phản hồi với sự kiện click */
}

#map {
    height: 100%;
    width: 100%;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.order-info {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    width: 45%;
}

.image-container {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    width: 50%;
    text-align: center;
}

.upload-container p {
    margin-bottom: 5px;
}

.upload-container input[type=file] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.image-container img {
    width: 200px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.status-message-failure {
    color: red;
}

.status-message-success {
    color: green;
}

.reason {
    color: red;
}

.my-chart {
    max-width: 400px;
    margin: 20px auto;
}
/*.programming-stats .details ul {
    list-style-type: none;
    padding: 0;
}
.programming-stats .details ul li {
    margin: 5px 0;
}*/

.legend-color {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
}

.no-data-message {
    display: none; /* Ẩn theo mặc định */
    text-align: center;
    font-size: 27px;
    font-style: italic;
    color: #AAAAAA;
    margin: 100px auto;
}

.total-orders {
    font-weight: bold; /* In đậm */
    background-color: #f0f0f0; /* Màu nền nhạt */
    border-top: 1px solid #333; /* Đường viền trên */
    border-bottom: 1px solid #333; /* Đường viền dưới */
}

/*.summary-container {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 10px;
    margin-top: 50px;
    border-top: 1px solid #333;  Đường viền dưới 
}

.summary-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.summary-container h4 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.summary-container p {
    font-size: 1em;
    color: #666;
    line-height: 1.6;
    margin: 10px 0;
}

.summary-container p strong {
    color: #333;
}

*/.table-container {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.table-container th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.table-container th {
    background-color: #f2f2f2;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: center;
    vertical-align: middle;
}/*

.analysis-table {
    width: 30%;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

.analysis-table th, .analysis-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;  Căn trái tiêu đề và dữ liệu 
}

.analysis-table th {
    background-color: #f2f2f2;
    text-align: left;  Căn trái tiêu đề 
    width: 25%;  Điều chỉnh độ rộng của cột tiêu đề 
}

.analysis-table td {
    width: 20%;  Điều chỉnh độ rộng của cột dữ liệu 
}*/

.status-container {
    display: flex;
    justify-content: space-between; /* Chia đều không gian */
    align-items: center; /* Căn chỉnh theo chiều dọc */
    padding: 10px; /* Khoảng cách bên trong */
    background-color: #f9f9f9; /* Màu nền */
    border: 1px solid #ccc; /* Đường viền */
    border-radius: 5px; /* Bo góc */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
}

.status {
    flex: 1; /* Chiếm một nửa không gian */
    text-align: center; /* Căn giữa nội dung */
}

.success {
    background-color: #7CB342; /* Màu nền cho Success */
    color: white; /* Màu chữ */
}

.failure {
    background-color: #C62828; /* Màu nền cho Failure */
    color: white; /* Màu chữ */
}

.status p {
    margin: 0; /* Bỏ margin mặc định */
    font-size: 16px; /* Kích thước chữ */
    font-weight: bold; /* Chữ in đậm */
}

.note {
    font-size: 14px; /* Kích thước chữ nhỏ */
    color: #666; /* Màu chữ nhạt hơn */
    margin-top: 5px; /* Khoảng cách phía trên */
    text-align: center; /* Canh giữa */
    font-style: italic; /* Chữ nghiêng */
}

.note1 {
    font-size: 14px; /* Kích thước chữ nhỏ */
    color: #999; /* Màu chữ nhạt hơn */
    text-align: center; /* Canh giữa */
    font-style: italic; /* Chữ nghiêng */
    margin-top: -20px;
    transform: translateX(-40px);
}

.marker-animation {
    transition: transform 0.2s;
}
.marker-animation:hover {
    transform: scale(1.5);
}

/*CSS cho settings*/
.settings-container {
    display: flex;
    height: 100vh;
}

.content {
    flex: 1;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid red;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.header h2 {
    margin: 0;
}

.header i {
    cursor: pointer;
}

.settings {
    display: flex;
    flex-direction: column;
}

.setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0;
    border-bottom: 1px solid #444;
}

.setting-item span {
    flex: 1;
}

.setting-item select,
.setting-item .switch,
.setting-item .manage-btn,
.setting-item .save-all-btn,
.setting-item .delete-all-btn {
    background-color: #333;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.setting-item .switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.setting-item .switch input {
    display: none;
}

.setting-item .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.setting-item .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.setting-item input:checked + .slider {
    background-color: #2196F3;
}

.setting-item input:checked + .slider:before {
    transform: translateX(14px);
}

.setting-item input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.setting-item input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.setting-item input::placeholder {
    color: #999;
    opacity: 1; /* For older browsers */
}

.setting-item input:hover {
    border-color: #0056b3;
}